{% extends 'template.html' %}
{% block body %}
      <div class="row slide-up">
          <div class="jumbotron text-center">
          <h1 class="jumbotron-heading">Welcome to the MHCC Programming Club!</h1>
          <p class="lead text-muted">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec ligula commodo, iaculis justo et, commodo massa. Mauris lobortis varius ex. Sed vel pulvinar diam. Sed sagittis ex neque, eu congue lacus malesuada nec. Aliquam velit nisl, imperdiet at urna non, ornare porttitor nisi. Aliquam consequat pharetra sem et scelerisque. Fusce aliquam tempus lectus, vitae interdum ante lacinia sed.
          </p>
          </selection>
      </div>
      <div class="row">
      </div>
{% endblock %}

